<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fidelmomolo.kukudose1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Website"
            android:label="@string/title_activity_website"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Home_Activity" />
        </activity>
        <activity
            android:name=".Vaccine_Table"
            android:label="@string/title_activity_vaccine__table"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Home_Activity" />
        </activity>
        <activity
            android:name=".Respiratory_Disease"
            android:label="@string/title_activity_respiratory__disease"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Home_Activity" />
        </activity>
        <activity
            android:name=".NewCastleActivity"
            android:label="@string/title_activity_new_castle"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".AvianInfluenzaActivity"
            android:label="@string/title_activity_avian_influenza"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".InfectiousBronchitiesActivity"
            android:label="@string/title_activity_infectious_bronchities"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".LaryngotracheitisActivity"
            android:label="@string/title_activity_laryngotracheitis"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".EasternEquineEncephalitisActivity"
            android:label="@string/title_activity_eastern_equine_encephalitis"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".FowlCholeraActivity"
            android:label="@string/title_activity_fowl_cholera"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".FowlTyphoidActivity"
            android:label="@string/title_activity_fowl_typhoid"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".MycoplasmaGallisepticumActivity"
            android:label="@string/title_activity_mycoplasma_gallisepticum"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
        <activity
            android:name=".MareksActivity"
            android:label="@string/title_activity_mareks"
            android:parentActivityName=".Respiratory_Disease"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fidelmomolo.kukudose1.Respiratory_Disease" />
        </activity>
    </application>

</manifest>